<!-- FILEPATH: /c:/Users/arega/OneDrive/Python/PYTHN/mymakeupstore/templates/mymakeupstore/templates/carts.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Compras</title>
    <style>
        body {
            background-color: turquoise;
            color: gray;
            font-family: Arial, sans-serif;
        }
        
        #total {
            color: fuchsia;
        }
    </style>
</head>
<body>
    <h1>Carrito de Compras</h1>
    
    <h2>Productos Agregados:</h2>
    <!-- Aquí puedes agregar el código para mostrar los productos agregados al carrito -->
    
    <h3 id="total">Total: $0</h3>
    
    <form>
        <h2>Elige el Método de Pago:</h2>
        <input type="radio" id="tarjeta" name="metodo_pago" value="tarjeta">
        <label for="tarjeta">Tarjeta de Crédito</label><br>
        <input type="radio" id="paypal" name="metodo_pago" value="paypal">
        <label for="paypal">PayPal</label><br>
        <input type="radio" id="transferencia" name="metodo_pago" value="transferencia">
        <label for="transferencia">Transferencia Bancaria</label><br>
    </form>
    
    <p>Ya casi está lista tu compra. ¡Gracias por elegirnos!</p>
</body>
</html>
